header {
    position: relative;
    width: 100%;
}

header .menu-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;

    width: 64px;
    height: 49px;
}

header img:not(.menu-icon) {
    display: block;
    width: 232px;
    height: 130.5px;
    margin: 0 auto;
}

.searchbar {

}

section.searcbar > input {

}

#main-nav span {
    background: red;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}